In [2]:
#we import the required lib files here
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import TensorBoard
from time import time

In [4]:
#now here we select the data required
data = pd.read_csv('spam.csv',encoding='latin-1')
data.head(5)

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [6]:
data = data[['v2','v1']]
data['v2'] = data['v2'].apply(lambda x: x.lower())
data['v2'] = data['v2'].apply((lambda x: re.sub('[^a-zA-z0-9\s]', '', x)))
data.head(5)

                                                  v2    v1
0  go until jurong point crazy available only in ...   ham
1                            ok lar joking wif u oni   ham
2  free entry in 2 a wkly comp to win fa cup fina...  spam
3        u dun say so early hor u c already then say   ham
4  nah i dont think he goes to usf he lives aroun...   ham

In [7]:
for idx, row in data.iterrows():
    row[0] = row[0].replace('rt', ' ')

In [9]:
#Here we do the tokenzation 
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(data['v2'].values)
X = tokenizer.texts_to_sequences(data['v2'].values)
#print(X)
X = pad_sequences(X)
#print(X)
embed_dim = 128
lstm_out = 196

In [10]:
#creating the selected model
def createmodel():
    model = Sequential()
    model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
    model.add(SpatialDropout1D(0.4))
    model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
    model.add(Dense(2,activation='softmax'))
    model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
    return model

In [11]:
#here we take  the test data and train data
labelencoder = LabelEncoder()
integer_encoded = labelencoder.fit_transform(data['v1'])
y = to_categorical(integer_encoded)
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size = 0.33, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(3733, 152) (3733, 2)
(1839, 152) (1839, 2)

In [12]:
#now we select the model
batch_size = 32
model = createmodel()

tensorborad = TensorBoard(log_dir="logs/{}".format(time()))

In [13]:
# here we make Fit the model
history = model.fit(X_train, Y_train, epochs = 5, batch_size=batch_size, verbose = 2,  callbacks=[tensorborad])
score,acc = model.evaluate(X_test,Y_test,verbose=2,batch_size=batch_size)
from keras.models import load_model
model.save('my_model.h5')
print(score)
print(acc)

Epoch 1/5
117/117 - 99s - loss: 0.1773 - accuracy: 0.9392
Epoch 2/5
117/117 - 94s - loss: 0.0499 - accuracy: 0.9847
Epoch 3/5
117/117 - 94s - loss: 0.0276 - accuracy: 0.9920
Epoch 4/5
117/117 - 94s - loss: 0.0140 - accuracy: 0.9960
Epoch 5/5
117/117 - 94s - loss: 0.0087 - accuracy: 0.9973
58/58 - 6s - loss: 0.0785 - accuracy: 0.9842
0.07848481088876724
0.9842305779457092